{% extends 'base.html.twig' %} {% block title %}{{ titulo }}{% endblock %} {%
block body %}

<div class="example-wrapper">
  <h1>Hola {{ bienvenida }}! ✅</h1>

  {{ form(Formulario) }}
</div>

{% endblock %}
