{% extends 'base.html.twig' %} {% block title %}{{ titulo }}{% endblock %} {%
block body %}

<div class="example-wrapper">
  <h1>Hola {{ id }}! ✅</h1>

  <h2>Esta es la página ID</h2>
</div>

{% endblock %}
